<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>463297391146-4r3ntqgqbqvfunm9hlhkqkphj0f0hgoc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.463297391146-4r3ntqgqbqvfunm9hlhkqkphj0f0hgoc</string>
	<key>API_KEY</key>
	<string>AIzaSyDHoQhwwPJtAEjJBc4gYbKIRi0_FF-Z1bQ</string>
	<key>GCM_SENDER_ID</key>
	<string>463297391146</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.anon</string>
	<key>PROJECT_ID</key>
	<string>anon-cc03a</string>
	<key>STORAGE_BUCKET</key>
	<string>anon-cc03a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:463297391146:ios:7c026b7e6480d546003153</string>
</dict>
</plist>